.tile1{
    position: fixed;
    top: 10%;
    left: 5%; 
  }
   .tile2{
    position: fixed;
    top: 10%;
    width: 50%;
   }

   mat-form-field {
    width: 100%;
    }

    table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 25%;
    }
    
    .mat-card{

      border: 155px !important;
      border-radius: 10px !important;
      border: #000 !important;
     }
     
     .mat-toolbar{
      border: 55px !important;
      border-radius: 10px !important;
      border: #000 !important;
     }

     .mat-raised-button{
      border: 55px !important;
      border-radius: 10px !important;
      border: #000 !important;
     }