<mat-grid-list cols="2" gutter-size="10px">
    <mat-grid-tile width="20%">
        <div class="tile1">
            <div class="row">
                <div class="col-mat-6 offset-mat-3">
                    <mat-card style="width: 700px">
                        <mat-toolbar color="primary">
                            Item Series
                        </mat-toolbar>
                        <mat-card-content>
                                <br>
                                <form class="example-form" >                                
                                  <div>
                                      <mat-form-field appearance="fill">
                                          <mat-label>Series</mat-label>
                                          <input matInput  placeholder="Series" type="text" required>
                                      </mat-form-field>
                                  </div>
                                  <div>
                                    <mat-form-field appearance="fill">
                                      <mat-label>Status</mat-label>
                                      <mat-select  placeholder="Status"  required>                
                                        <mat-option value="Active">Active</mat-option>              
                                        <mat-option value="InActive">InActive</mat-option>              
                                        <!-- <ng-container *ngFor="let st of status">
                                            <mat-option value="">{{st}}</mat-option>
                                        </ng-container>  -->
                                      </mat-select>
                                    </mat-form-field>
                                </div><br>
                                <div class="button-row">
                                    <button mat-raised-button color="primary" type="submit">Save</button>&nbsp;&nbsp;
                                    <button mat-raised-button color="warn" >Reset</button>
                                </div>
                                </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile width="20%">
        <div class="tile2">
            <table class="table">
              <thead>
              <tr>
                  <th>Sl.No.</th>
                  <th>Series</th>   
                  <th>Status</th> 
                  <th colspan="3" style="text-align: center;">Action</th>
              </tr>
              </thead>
              <tbody>
                  <!-- <tr *ngFor="let series of seriesList; let i = index;">
                      <td>{{i+1}}</td>
                      <td>{{series.series}}</td>
                      <td>{{series.status}}</td>
                        <td style="text-align: center;"> <button  mat-icon-button matSuffix (click)="edit(series.id)"  style="color:blue" [attr.aria-label]="'Edit Record'">
                            <mat-icon matTooltip="Edit Record">edit</mat-icon>
                            </button></td>
                            <td style="text-align: center;"> <button  mat-icon-button matSuffix (click)="delete(series.id)" style="color:red" [attr.aria-label]="'Delete Record'">
                                <mat-icon matTooltip="Delete Record">delete</mat-icon>
                                </button></td>
                  </tr> -->
              </tbody>
            </table>
          </div>
    </mat-grid-tile>
</mat-grid-list>
