<mat-grid-list cols="2" gutter-size="10px">
    <mat-grid-tile width="20%">
        <div class="tile1">
            <div class="row">
                <div class="col-mat-6 offset-mat-3">
                    <mat-card style="width: 700px">
                        <mat-toolbar color="primary">
                            Items - Final Products
                        </mat-toolbar>
                        <mat-card-content>
                                <br>
                                <form [formGroup] = "masterForm" class="example-form" (ngSubmit)="onSubmit()">
                                  <div>
                                    <table width="100%">                                      
                                        <tr><td colspan="2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Series</mat-label>
                                        <mat-select  placeholder="Series" formControlName="series_id" id="ddlSeries">                
                                            <mat-option value="1">value-1</mat-option>
                                            <mat-option value="2">value-2</mat-option>
                                            <mat-option value="3">value-3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Item Code</mat-label>
                                        <input matInput  placeholder="Item Code" formControlName="item_code" type="text" required>
                                    </mat-form-field>
                                </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                      <mat-form-field appearance="fill">
                                          <mat-label>Item Description</mat-label>
                                          <input matInput  placeholder="Item Description" type="text" formControlName="item_desc" required>
                                      </mat-form-field>
                                    </td>
                                        </tr>
                                        <tr>
                                            <td>
                                      <mat-form-field appearance="fill">
                                        <mat-label>Unit of Packing</mat-label>
                                        <mat-select  placeholder="Series" id="ddlSeries" formControlName="unit">                
                                            <mat-option value="Box">Box</mat-option>
                                            <mat-option value="Pieces">Pieces</mat-option>
                                            <mat-option value="Kg">Kg</mat-option>
                                            <mat-option value="Ltr">Ltr</mat-option>   
                                            <mat-option value="Mtr">Mtr</mat-option>                                               
                                            <mat-option value="Gruss">Gruss</mat-option>                                                                                                                                    
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Quantity per Unit</mat-label>
                                        <input matInput  placeholder="Quantity per Unit" type="text" formControlName="pcs_per_unit" required>
                                    </mat-form-field>
                                </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selling Rate</mat-label>
                                        <input matInput  placeholder="Selling Rate" type="text" formControlName="selling_rate">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Making Rate</mat-label>
                                        <input matInput  placeholder="Making Rate" type="text" formControlName="making_rate">
                                    </mat-form-field>
                                </td> 
                                        </tr>
                                        <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Opening Balance</mat-label>
                                        <input matInput  placeholder="Opening Balance" type="text" formControlName="op_balance">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>As on :</mat-label>
                                        <input matInput [matDatepicker]="as_on" formControlName="as_on">
                                        <mat-datepicker-toggle matSuffix [for]="as_on">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #as_on></mat-datepicker>
                                    </mat-form-field>
                                </td>                                    
                                    </table>
                                    <mat-form-field appearance="fill">
                                      <mat-label>Status</mat-label>
                                      <mat-select  placeholder="Status"  formControlName="status" required>                
                                        <mat-option value="Active">Active</mat-option>              
                                        <mat-option value="InActive">InActive</mat-option>              
                                        <!-- <ng-container *ngFor="let st of status">
                                            <mat-option value="">{{st}}</mat-option>
                                        </ng-container>  -->
                                      </mat-select>
                                    </mat-form-field>
                                </div><br>
                                <div class="button-row">
                                    <button [disabled]="!masterForm.valid" mat-raised-button color="primary" type="submit">{{btnSave}}</button>&nbsp;&nbsp;  <!--  [disabled]="service.form.invalid" -->
                                    <button mat-raised-button color="warn" (click)="onClear()">Reset</button>
                                </div>
                                </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile width="20%">
        <div class="tile2">
            <table class="table">
              <thead>
              <tr>
                  <th>Sl.No.</th>
                  <th>Item Code</th>   
                  <th>Item Description</th> 
                  <th>Opening Balance</th>                   
                  <th>Status</th>                                     
                  <th colspan="3" style="text-align: center;">Action</th>
              </tr>
              </thead>
              <tbody>
                  <!-- <tr *ngFor="let series of seriesList; let i = index;">
                      <td>{{i+1}}</td>
                      <td>{{series.series}}</td>
                      <td>{{series.status}}</td>
                        <td style="text-align: center;"> <button  mat-icon-button matSuffix (click)="edit(series.id)"  style="color:blue" [attr.aria-label]="'Edit Record'">
                            <mat-icon matTooltip="Edit Record">edit</mat-icon>
                            </button></td>
                            <td style="text-align: center;"> <button  mat-icon-button matSuffix (click)="delete(series.id)" style="color:red" [attr.aria-label]="'Delete Record'">
                                <mat-icon matTooltip="Delete Record">delete</mat-icon>
                                </button></td>
                  </tr> -->
              </tbody>
            </table>
          </div>
    </mat-grid-tile>
</mat-grid-list>

